.container {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 4fr;
}

.sidebar {
  background-color: cornflowerblue;
  grid-column: 1 / span 1;
  grid-row: 1 / -1;
  height: 1300px;
  
}

.header {
  background-color: brown;
  grid-column: 2 / -1;
  grid-row: 1 / span 1;
}

.main-content {
  background-color: chocolate;
  grid-column: 2 / -1;
  grid-row: 2 / -1;
}